

<div class="graph-section">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content">
        <canvas id="myChart" class="chart"></canvas>
      </div>
      <div class="col-12">
        <canvas id="myChart1" class="chart"></canvas>
      </div>
      <div class="col-12">
        <canvas id="myChart2" class="chart"></canvas>
      </div>
      </div>
    </div>
  </div>
</div>



<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: <%= raw @total_death.map(&:name).to_json  %>,
          datasets: [{
              label: '# of Deaths',
              data: <%= @total_death.map(&:death_count).to_json %>  ,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });
</script>
<script>
  var ctx = document.getElementById('myChart1').getContext('2d');
  var myChart1 = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: <%= raw @total_cases.map(&:name).to_json  %>,
          datasets: [{
              label: '# of Cases',
              data: <%= @total_cases.map(&:case_count).to_json %>  ,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });
</script>
<script>
  var ctx = document.getElementById('myChart2').getContext('2d');
  var myChart2 = new Chart(ctx, {
      type: 'radar',
      data: {
          labels: <%= raw @total_recovery.map(&:name).to_json  %>,
          datasets: [{
              label: '# of Recoveries',
              data: <%= @total_recovery.map(&:recovery_count).to_json %>  ,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scale: {
              angleLines: {
                  display: false
              },
              ticks: {
                  suggestedMin: 50,
                  suggestedMax: 100
              }
          }
      }
  });
</script>
